<%- include('../partials/header')%>
    <div id="wrapper">
        <div style="padding: 7px 10px 0px" class="wrapper wrapper-content">
            <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ibox">            
            <div class="ibox-content" id="history">
                <%- include('../partials/navbar')%>

            </div></div></div></div></div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="history">
                            <div class="box-heading">
                                <h2>API Call Tracker</h2>
                            </div>
                           


                                                            <div class="row m-b-sm ">
                                                                <div class="col-md-8 ">
                                                                    <div class="bootstrap-tagsinput"
                                                                        id="myDropdown">
                                                                        <div
                                                                            class="btn-group dropdown-filter">
                                                                            <button type="button"
                                                                                class="btn  dropdown-toggle m-r-sm"
                                                                                data-toggle="dropdown"
                                                                                aria-haspopup="true"
                                                                                aria-expanded="false">
                                                                                <i class="fa fa-filter"
                                                                                    aria-hidden="true"></i>
                                                                                Filter by
                                                                                <span class="caret"></span>
                                                                            </button>
                                                                            <ul class="dropdown-menu">
                                                                                <li
                                                                                    class="dropdown-actions d-flex-between">
                                                                                    <div>
                                                                                        <button
                                                                                            onclick="filterApi()"
                                                                                            type="button"
                                                                                            class="btn btn-success btn-xs">Apply</button>
                                                                                        <button
                                                                                            onclick="resetFilter()"
                                                                                            id="reset-filter-data"
                                                                                            type="button"
                                                                                            class="btn btn-default btn-xs">Reset</button>
                                                                                    </div>
                                                                                    <a
                                                                                        onclick="closeFilter()">
                                                                                        <i class="fa fa-times"
                                                                                            aria-hidden="true"
                                                                                            style="color: #000;"></i></a>
                                                                                </li>
                                                                                <li role="separator"
                                                                                    class="divider"></li>


                                                                               
                                                                                <li>
                                                                                    <label>Company Code</label>
                                                                                    <select id="select_company_code"
                                                                                    class="form-control ">
                                                                                    <option value="">
                                                                                        Select
                                                                                    </option>
                                                                                    <% companyCodes.forEach(function(e){%>
                                                                                            <option
                                                                                                value="<%=e.companyCode%>"><%=e.companyCode%>
                                                                                              
                                                                                            </option>
                                                                                            <%})%>
                                                                                            
                                                                                        </select>
                                                                                </li>
                                                                               
                                                                                <li role="separator"
                                                                                    class="divider"></li>
                                                                                <li class="" id="data_5">
                                                                                    <div class="row">
                                                                                        <div
                                                                                            class="col-lg-6">
                                                                                            <label>From</label>
                                                                                            <div class="input-daterange input-group"
                                                                                                id="datepicker">
                                                                                                <span
                                                                                                    class="input-group-addon"><i
                                                                                                        class="fa fa-calendar"></i></span>
                                                                                                <input
                                                                                                    id="startDate"
                                                                                                    type="text"
                                                                                                    class="input-sm form-control"
                                                                                                    name="start"
                                                                                                    placeholder="Please select a date"
                                                                                                    autocomplete="off">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div
                                                                                            class="col-lg-6">
                                                                                            <label>To</label>
                                                                                            <div class="input-daterange input-group"
                                                                                                id="datepicker">
                                                                                                <span
                                                                                                    class="input-group-addon"><i
                                                                                                        class="fa fa-calendar"></i></span>
                                                                                                <input
                                                                                                    id="endDate"
                                                                                                    type="text"
                                                                                                    class="input-sm form-control"
                                                                                                    name="start"
                                                                                                    placeholder="Please select a date"
                                                                                                    autocomplete="off">
                                                                                            </div>
                                                                                        </div>
                                                                                </li>

                                                                            </ul>
                                                                        </div>

                                                                        <span id="filter-name-role"
                                                                            class="tag label label-primary hide">

                                                                            <a onclick="resetRoleFilter()"
                                                                                style="color: #fff;"><i
                                                                                    class="fa fa-times"
                                                                                    aria-hidden="true"></i></a>
                                                                        </span>
                                                                        <span id="filter-name-status"
                                                                            class="tag label label-primary hide">

                                                                            <a onclick="resetStatusFilter()"
                                                                                style="color: #fff;"><i
                                                                                    class="fa fa-times"
                                                                                    aria-hidden="true"></i></a>
                                                                        </span>
                                                                        <span id="filter-lastMonth"
                                                                            class="tag label label-primary hide">

                                                                            <a onclick="resetDateFilter()"
                                                                                style="color: #fff;"><i
                                                                                    class="fa fa-times"
                                                                                    aria-hidden="true"></i></a>
                                                                        </span>

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 ">
                                                                    <div class="text-right">
                                                                        <div
                                                                            class="text-right  d-flex-right">
                                                                            <button type="submit"
                                                                                class="btn btn-primary m-l-sm"
                                                                                data-toggle="modal"
                                                                                data-target="#send-modal">Generate Report</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="table-responsive coman-table"
                                                                id="owner-detail-btn">
                                                                <table class="table dataTables-example"
                                                                    style="width: 100%;">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>Company Code</th>
                                                                            <th>Date</th>
                                                                            <th>Hits</th>
                                                                            <th>View</th>
                                                                            <!-- <th>IP</th>
                                                                            <th>Origin</th>
                                                                            <th>Destination</th>
                                                                            <th>Class</th>
                                                                            <th>Currency</th>
                                                                            <th>Date</th> -->
                                                                        </tr>
                                                                    </thead>

                                                                </table>
                                                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal coman-modal " id="send-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="" style="border: none;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                </div>
                <h2 class="text-center">Generate Report</h2>
                <!-- Modal body -->

                <form id="admin-create-form">

                    <div id="error-msg1" class=" hide alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <p style="font-size: 14px;
    color: rgb(189, 32, 32);" id="error-msg"></p>
                    </div>

                    
                        <label>Company Code</label>
                        <select id="select_company_code"
                        class="form-control ">
                        <option value="">
                            Select
                        </option>
                        <% companyCodes.forEach(function(e){%>
                                <option
                                    value="<%=e.companyCode%>"><%=e.companyCode%>
                                  
                                </option>
                                <%})%>
                                
                            </select>
                    
                   
                        <div class="row">
                            <div
                                class="col-lg-6">
                                <label>From</label>
                                <div class="input-daterange input-group"
                                    id="datepicker">
                                    <span
                                        class="input-group-addon"><i
                                            class="fa fa-calendar"></i></span>
                                    <input
                                        id="startDate1"
                                        type="text"
                                        class="input-sm form-control"
                                        name="start"
                                        placeholder="Please select a date"
                                        autocomplete="off">
                                </div>
                            </div>
                            <div
                                class="col-lg-6">
                                <label>To</label>
                                <div class="input-daterange input-group"
                                    id="datepicker">
                                    <span
                                        class="input-group-addon"><i
                                            class="fa fa-calendar"></i></span>
                                    <input
                                        id="endDate1"
                                        type="text"
                                        class="input-sm form-control"
                                        name="start"
                                        placeholder="Please select a date"
                                        autocomplete="off">
                                </div>
                            </div>
                  
                    
                    
                    <center>
                        <button id="btnSubmit" type="button" class="btn btn-primary " data-toggle="modal"
                            disabled="'disabled" onclick="">Submit</button>
                    </center>

                </form>

            </div>
        </div>
    </div>

    
    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="js/admin/script.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <!-- d3 and c3 charts -->
    <script src="js/d3.min.js"></script>
    <script src="js/c3.min.js"></script>
    <!-- Date range picker -->
    <script src="js/daterangepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script type="text/javascript">
        setInterval(function() {
            loadAdminDataTable()
}, 5000);
        // const interval = setInterval(function() {
        //     loadAdminDataTable()
        // }, 2000);
        // clearInterval(interval);

        $(document).ready(function () {
            loadAdminDataTable()

            $(document).on('click', '.dropdown-menu li', function (e) {
                e.stopPropagation();
            }); $(document).on('click', '.dropdown-menu li  option', function (e) {
                e.stopPropagation();
            });
            $('#myDropdown .dropdown-menu').on({
                "click": function (e) {
                    e.stopPropagation();
                }
            })
            toastr.options = {
                closeButton: true,
                preventDuplicates: true,
                progressBar: true,
            }
           
        })
        function getUrl(companyCode, startDate, endDate) {
            let url = `/api/v1/admin/tracker-reports.listing?companyCode=${companyCode}&startDate=${startDate}&endDate=${endDate}`
            return url
        }

        function loadAdminDataTable() {
            let currentDate = moment().utc().toISOString()
            let search = $('#select_company_code').val()
            let start = $('#startDate').val()
            let end = $('#endDate').val()
            let startDate = ''
            let endDate = ''

            $('#startDate').change(function () {
                start = this.value
            })

            $('#endDate').on('change', function () {
                end = this.value
            })

            if (start && end) {
                startDate = moment(start, 'DD/MM/YYYY').format("YYYY-MM-DD");
                endDate = moment(end, 'DD/MM/YYYY').format("YYYY-MM-DD");
                if (!(new Date(startDate).getTime() <= new Date(endDate).getTime()) || new Date(startDate).getTime() >= new Date(moment()).getTime()) {
                    toastr.error('Selected date range is invalid.', 'Error')
                    $('#filter-name-role, #filter-name-status, #filter-lastMonth').addClass('hide')
                    return;
                }
            }

          
            $('#select_company_code').on('change', function () {
                search = this.value
            });



            let generateUrl = getUrl(search, startDate, endDate)
            // Initiate datatable

            $('.dataTables-example').DataTable({
                destroy: true,
                "search": true,
                "processing": true,
                "filter": true,
                "orderMulti": false,
                // stateSave: true,
                'serverSide': true,
                "ajax": {
                    "url": generateUrl,
                    "type": "GET",
                    "datatype": "json",
                    // "dataSrc": ""
                },
                "columns": [
                    { render(data, type, row, meta){
                        let text = `<div style="text-transform: capitalize;">${row._id.companyCode}</div>`
                        return text
                    }},
                    { render(data, type, row, meta){
                        return row._id.date
                    }},
                    { render(data, type, row, meta){
                        return row.count
                    }},
                    
                    { 
                        render(data, type, row, meta){
                            let text = `<div class='action-btn'>
                                            <a href="api/v1/admin/tracker-reports.byDate?companyCode=${row._id.companyCode}&date=${row._id.date}"><i data-toggle="tooltip" data-placement="top" title="View" class="fa fa-eye" aria-hidden="true"></i></a>
                                           `
                         return text
}
}
                    // {
                    //     data:'IP'
                    // },
                    // { data: 'origin'
                    // },
                    // { data:'destination'
                    // },
                    // {
                    //     data: 'classOfService'
                    // },
                    // {
                    //     data: 'currency'
                    // },
                    // {
                    //     mRender(data, type, row, meta) {
                    //         const dt = new Date(row.createdAt)
                    //         const month = dt.getMonth() + 1;
                    //         let mm = month > 10 ? month : `0${month}`
                    //         let dd = dt.getDate() + 1 > 10 ? dt.getDate() : `0${dt.getDate()}`
                    //         return dd + '/' + mm + '/' + dt.getFullYear();

                    //     },
                    // },
                   
                   
                ]
            })

        }


        $('.input-group.date').datepicker(
            { format: "dd.mm.yyyy" }
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );
        $('#data_5 .input-daterange').datepicker({
            format: 'dd/mm/yyyy',
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });



        function filterApi() {

            if ($('#admin-status').val() == 'true') {
                $('#filter-name-status').removeClass('hide')
                $('#filter-name-status').text('Active')
                $('#filter-name-status').append('<a onclick="resetStatusFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
            if ($('#admin-status').val() == 'false') {
                $('#filter-name-status').removeClass('hide')
                $('#filter-name-status').text('Inactive')
                $('#filter-name-status').append('<a onclick="resetStatusFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }

            if ($('#select_company_code').val() !== '') {
                $('#filter-name-role').removeClass('hide')
                $('#filter-name-role').text($('#select_company_code').val())
                $('#filter-name-role').append('<a onclick="resetRoleFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
            if ($('#startDate').val() !== '' && $('#endDate').val() !== '') {
                let start = $('#startDate').val()
                let end = $('#endDate').val()
                $('#filter-lastMonth').removeClass('hide')
                $('#filter-lastMonth').text(`${start} - ${end}`)
                $('#filter-lastMonth').append('<a onclick="resetDateFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
        }

        function resetDateFilter() {
            $('#startDate, #endDate, #last-30-days').val('')
            $('#filter-lastMonth').addClass('hide')
            loadAdminDataTable()
        }

        function resetRoleFilter() {
            $('#select_company_code').val('')
            $('#filter-name-role').addClass('hide')
            loadAdminDataTable()

        }

        
        function resetFilter() {
            $('#startDate').attr('disabled', false)
            $('#endDate').attr('disabled', false)
            $('#select_company_code').val('')
            $('#startDate').val('')
            $('#endDate').val('')
            $('#filter-name-role, #filter-name-status, #filter-lastMonth').addClass('hide')
            loadAdminDataTable()

        }

        function closeFilter() {
            $('.dropdown-filter').removeClass('open')

        }
       
    </script>
    </body>

    </html>