<%- include('../partials/header')%>
    <input type="text" style="display:none">
    <input type="password" style="display:none">
    <div id="wrapper">
        <div style="padding: 7px 10px 0px" class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="history">
                            <%- include('../partials/navbar')%>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="ibox">
                        <div class="ibox-content" id="history">
                            <div class="box-heading">
                                <h2>API Call Tracker</h2>
                            </div>

                            <div class="tabs-container "
                            id="create_mngmnt_req_ownbrd">
                            <ul class="nav nav-tabs mb-10">
                                <li class="active"><a data-toggle="tab"
                                        href="#PendingNFTs"> Current Reports</a></li>
                                <li class=""><a data-toggle="tab"
                                        href="#CreatorOwnboarded">Archived Reports</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="PendingNFTs" class="tab-pane fade in active">
                                <div class="row m-b-sm ">
                                    <div class="col-md-8 ">
                                        <div class="bootstrap-tagsinput" id="myDropdown">
                                            <div class="btn-group dropdown-filter">
                                                <button type="button" class="btn  dropdown-toggle m-r-sm"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-filter" aria-hidden="true"></i>
                                                    Filter by
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-actions d-flex-between">
                                                        <div>
                                                            <button onclick="filterApi()" type="button"
                                                                class="btn btn-success btn-xs">Apply</button>
                                                            <button onclick="resetFilter()" id="reset-filter-data"
                                                                type="button" class="btn btn-default btn-xs">Reset</button>
                                                        </div>
                                                        <a onclick="closeFilter()">
                                                            <i class="fa fa-times" aria-hidden="true"
                                                                style="color: #000;"></i></a>
                                                    </li>
                                                    <li role="separator" class="divider"></li>
    
    
    
                                                    <li>
                                                        <label>Company Code</label>
                                                        <select id="select_company_code" class="form-control ">
                                                            <option value="">
                                                                Select
                                                            </option>
                                                            <% companyCodes.forEach(function(e){%>
                                                                <option value="<%=e._id%>">
                                                                    <%=e._id%>
    
                                                                </option>
                                                                <%})%>
    
                                                        </select>
                                                    </li>
    
                                                    <li role="separator" class="divider"></li>
                                                    <li class="" id="data_5">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label>From</label>
                                                                <div class="input-daterange input-group" id="datepicker">
                                                                    <span class="input-group-addon"><i
                                                                            class="fa fa-calendar"></i></span>
                                                                    <input id="startDate" type="text"
                                                                        class="input-sm form-control" name="start"
                                                                        placeholder="Please select a date"
                                                                        autocomplete="off">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <label>To</label>
                                                                <div class="input-daterange input-group" id="datepicker">
                                                                    <span class="input-group-addon"><i
                                                                            class="fa fa-calendar"></i></span>
                                                                    <input id="endDate" type="text"
                                                                        class="input-sm form-control" name="start"
                                                                        placeholder="Please select a date"
                                                                        autocomplete="off">
                                                                </div>
                                                            </div>
                                                    </li>
    
                                                </ul>
                                            </div>
    
                                            <span id="filter-name-role" class="tag label label-primary hide">
    
                                                <a onclick="resetRoleFilter()" style="color: #fff;"><i class="fa fa-times"
                                                        aria-hidden="true"></i></a>
                                            </span>
                                            <span id="filter-name-status" class="tag label label-primary hide">
    
                                                <a onclick="resetStatusFilter()" style="color: #fff;"><i class="fa fa-times"
                                                        aria-hidden="true"></i></a>
                                            </span>
                                            <span id="filter-lastMonth" class="tag label label-primary hide">
    
                                                <a onclick="resetDateFilter()" style="color: #fff;"><i class="fa fa-times"
                                                        aria-hidden="true"></i></a>
                                            </span>
    
                                        </div>
                                    </div>
    
                                </div>
                                <div class="table-responsive coman-table" id="owner-detail-btn">
                                    <table class="table dataTables-example" style="width: 100%;">
                                        <thead>
                                            <tr>
    
                                                <th>Company Code</th>
                                                <th>Date</th>
                                                <th>Hits</th>
                                                <th>Average Hits/sec</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
    
                                    </table>
                                </div>
                            </div>
                            <div id="CreatorOwnboarded" class="tab-pane">
                                <div class="row m-b-sm ">
                                    <div class="col-md-8 ">
                                        <div class="bootstrap-tagsinput" id="myDropdown">
                                            <div class="btn-group dropdown-filter">
                                                <button type="button" class="btn  dropdown-toggle m-r-sm"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-filter" aria-hidden="true"></i>
                                                    Filter by
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-actions d-flex-between">
                                                        <div>
                                                            <button onclick="handlePastReportFilter()" type="button"
                                                                class="btn btn-success btn-xs">Apply</button>
                                                            <button onclick="resetPastReportFilter()" id="reset-filter-data"
                                                                type="button" class="btn btn-default btn-xs">Reset</button>
                                                        </div>
                                                        <a onclick="closeFilter()">
                                                            <i class="fa fa-times" aria-hidden="true"
                                                                style="color: #000;"></i></a>
                                                    </li>
                                                    <li role="separator" class="divider"></li>
    
    
    
                                                    <li>
                                                        <label>Company Code</label>
                                                        <select id="_companyCode" class="form-control ">
                                                            <option value="">
                                                                Select
                                                            </option>
                                                            <% companyCodes.forEach(function(e){%>
                                                                <option value="<%=e._id%>">
                                                                    <%=e._id%>
    
                                                                </option>
                                                                <%})%>
    
                                                        </select>
                                                    </li>
    
                                                    <li role="separator" class="divider"></li>
                                                    <li class="" id="data_5">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <label>From</label>
                                                                <div class="input-daterange input-group" id="datepicker">
                                                                    <span class="input-group-addon"><i
                                                                            class="fa fa-calendar"></i></span>
                                                                    <input id="_startDate" type="text"
                                                                        class="input-sm form-control" name="start"
                                                                        placeholder="Please select a date"
                                                                        autocomplete="off">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <label>To</label>
                                                                <div class="input-daterange input-group" id="datepicker">
                                                                    <span class="input-group-addon"><i
                                                                            class="fa fa-calendar"></i></span>
                                                                    <input id="_endDate" type="text"
                                                                        class="input-sm form-control" name="start"
                                                                        placeholder="Please select a date"
                                                                        autocomplete="off">
                                                                </div>
                                                            </div>
                                                    </li>
    
                                                </ul>
                                            </div>
    
                                            <span id="filter-name-role" class="tag label label-primary hide">
    
                                                <a onclick="_resetRoleFilter()" style="color: #fff;"><i class="fa fa-times"
                                                        aria-hidden="true"></i></a>
                                            </span>
                                            <span id="filter-name-status" class="tag label label-primary hide">
    
                                                <a onclick="_resetStatusFilter()" style="color: #fff;"><i class="fa fa-times"
                                                        aria-hidden="true"></i></a>
                                            </span>
                                            <span id="filter-lastMonth" class="tag label label-primary hide">
    
                                                <a onclick="_resetDateFilter()" style="color: #fff;"><i class="fa fa-times"
                                                        aria-hidden="true"></i></a>
                                            </span>
    
                                        </div>
                                    </div>
    
                                </div>
                                <div class="table-responsive coman-table" id="owner-detail">
                                    <table class="table dataTables-example1" style="width: 100%;">
                                        <thead>
                                            <tr>
    
                                                <th>Company Code</th>
                                                <th>Date</th>
                                                <th>Hits</th>
                                                <th>Average Hits/sec</th>
                                            </tr>
                                        </thead>
    
                                    </table>
                                </div>
                            </div>
                        </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Mainly scripts -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="js/inspinia.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="js/admin/script.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <!-- d3 and c3 charts -->
    <script src="js/d3.min.js"></script>
    <script src="js/c3.min.js"></script>
    <!-- Date range picker -->
    <script src="js/daterangepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            loadAdminDataTable()
            loadArchivedReports()
            $(document).on('click', '.dropdown-menu li', function (e) {
                e.stopPropagation();
            }); $(document).on('click', '.dropdown-menu li  option', function (e) {
                e.stopPropagation();
            });
            $('#myDropdown .dropdown-menu').on({
                "click": function (e) {
                    e.stopPropagation();
                }
            })
            toastr.options = {
                closeButton: true,
                preventDuplicates: true,
                progressBar: true,
            }
            $('input[type="search"]').attr('autocomplete', 'off')

        })
        function getUrl(companyCode, startDate, endDate) {
            let url = `tracker-reports.listing?companyCode=${companyCode}&startDate=${startDate}&endDate=${endDate}`
            return url
        }
        function generateUrl(companyCode, startDate, endDate) {
            let url = `past-reports?companyCode=${companyCode}&startDate=${startDate}&endDate=${endDate}`
            return url
        }

        function loadAdminDataTable() {
            let currentDate = moment().utc().toISOString()
            let search = $('#select_company_code').val()
            let start = $('#startDate').val()
            let end = $('#endDate').val()
            let startDate = ''
            let endDate = ''

            $('#startDate').change(function () {
                start = this.value
            })

            $('#endDate').on('change', function () {
                end = this.value
            })

            if (start && end) {
                startDate = moment(start, 'DD/MM/YYYY').format("YYYY-MM-DD");
                endDate = moment(end, 'DD/MM/YYYY').format("YYYY-MM-DD");
                if (!(new Date(startDate).getTime() <= new Date(endDate).getTime()) || new Date(startDate).getTime() >= new Date(moment()).getTime()) {
                    toastr.error('Selected date range is invalid.', 'Error')
                    $('#filter-name-role, #filter-name-status, #filter-lastMonth').addClass('hide')
                    return;
                }
            }


            $('#select_company_code').on('change', function () {
                search = this.value
            });



            let generateUrl = getUrl(search, startDate, endDate)
            // Initiate datatable
            $('.dataTables-example').DataTable({
                destroy: true,
                "search": true,
                "processing": true,
                "filter": true,
                "orderMulti": false,
                'serverSide': true,
                order: [[2, 'desc']],
                initComplete: function () {
                    $(this.api().table().container()).find('input[type="search"]').parent().wrap('<form>').parent().attr('autocomplete', 'off').css('overflow', 'hidden').css('margin', 'auto');
                },
                "ajax": {
                    "url": generateUrl,
                    "type": "GET",
                    "datatype": "json",
                },
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, 1400000],
                    ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                buttons: [
                    'pageLength',
                    {
                        text: 'Refresh',
                        action: function (e, dt, node, config) {
                            dt.ajax.reload();
                        }
                    },
                    'csv', 'excel', 'pdf'
                ],
                "columns": [
                    {
                        data: '_id.companyCode',
                        render(data, type, row, meta) {
                            let text = `<div style="text-transform: capitalize;">${row._id.companyCode}</div>`
                            return text
                        }
                    },
                    {
                        data: '_id.date',
                        render(data, type, row, meta) {
                            return row._id.date
                        }
                    },
                    {
                        data: 'count',
                        render(data, type, row, meta) {
                            return row.count
                        }
                    },
                    {
                        data: 'count',
                        render(data, type, row, meta) {
                            let text
                            let now = new Date()
                            const t1 = new Date(moment(row._id.date, 'YYYY-MM-DD').startOf('day'))
                            let t2 = new Date(moment(row._id.date, 'YYYY-MM-DD').endOf('day'));
                            if (now.getFullYear() === t2.getFullYear() && now.getDate() === t2.getDate() && now.getMonth() === t2.getMonth()) {
                                t2 = new Date()
                            }

                            const dif = Math.abs(new Date(t1).getTime() - new Date(t2).getTime()) / 1000
                            text = row.count / Math.floor(dif)
                            return text.toFixed(3)

                        }
                    },

                    { orderable: false,
                        render(data, type, row, meta) {
                            let text = `<div class='action-btn'>
                                            <a href="tracker-reports.byDate?companyCode=${row._id.companyCode}&date=${row._id.date}"><i data-toggle="tooltip" data-placement="top" title="View" class="fa fa-eye" aria-hidden="true"></i></a>
                                           `
                            return text
                        }
                    }


                ]
            })

        }


        $('.input-group.date').datepicker(
            { format: "dd.mm.yyyy" }
        );
        var datePicker = $(".calendar").datepicker({});
        var t;
        $(document).on(
            'DOMMouseScroll mousewheel scroll',
            '#myModal',
            function () {
                window.clearTimeout(t);
                t = window.setTimeout(function () {
                    $('.calendar').datepicker('')
                }, 100);
            }
        );
        $('#data_5 .input-daterange').datepicker({
            format: 'dd/mm/yyyy',
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });


let _companyCodes = $('#_companyCode').val()
let _start =  $('#_startDate').val()
let _end = $('#_endDate').val()
$('#_companyCode').on('change', function () {
        _companyCodes = this.value
        

    });
    $('#_startDate').change(function () {
        _start = this.value
    })

    $('#_endDate').on('change', function () {
        _end = this.value
    })

const handlePastReportFilter = () => { 
    console.log('sdsdsdsd',_companyCodes)   
    loadArchivedReports(_companyCodes, _start, _end)    
}
const resetPastReportFilter = () => {
    $('#_companyCode').val('')
    $('#_startDate').val('')
    $('#_endDate').val('')
    loadArchivedReports("", "", "")
}

        function filterApi() {

            if ($('#admin-status').val() == 'true') {
                $('#filter-name-status').removeClass('hide')
                $('#filter-name-status').text('Active')
                $('#filter-name-status').append('<a onclick="resetStatusFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
            if ($('#admin-status').val() == 'false') {
                $('#filter-name-status').removeClass('hide')
                $('#filter-name-status').text('Inactive')
                $('#filter-name-status').append('<a onclick="resetStatusFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }

            if ($('#select_company_code').val() !== '') {
                $('#filter-name-role').removeClass('hide')
                $('#filter-name-role').text($('#select_company_code').val())
                $('#filter-name-role').append('<a onclick="resetRoleFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
            if ($('#startDate').val() !== '' && $('#endDate').val() !== '') {
                let start = $('#startDate').val()
                let end = $('#endDate').val()
                $('#filter-lastMonth').removeClass('hide')
                $('#filter-lastMonth').text(`${start} - ${end}`)
                $('#filter-lastMonth').append('<a onclick="resetDateFilter()" style = "color: #fff;" > <i class="fa fa-times" aria-hidden="true"></i></a >')
                loadAdminDataTable()
            }
        }

        function resetDateFilter() {
            $('#startDate, #endDate, #last-30-days').val('')
            $('#filter-lastMonth').addClass('hide')
            loadAdminDataTable()
        }

        function resetRoleFilter() {
            $('#select_company_code').val('')
            $('#filter-name-role').addClass('hide')
            loadAdminDataTable()

        }


        function resetFilter() {
            $('#startDate').attr('disabled', false)
            $('#endDate').attr('disabled', false)
            $('#select_company_code').val('')
            $('#startDate').val('')
            $('#endDate').val('')
            $('#filter-name-role, #filter-name-status, #filter-lastMonth').addClass('hide')
            loadAdminDataTable()

        }

        function closeFilter() {
            $('.dropdown-filter').removeClass('open')

        }
        const loadArchivedReports = (_companyCode, _startDate, _endDate) => {
            let companyCodes
            let startingDate
            let endingDate
            if(!_companyCode) companyCodes = "" 
            else companyCodes = _companyCode
            if(!_start) startingDate = ""
            else startingDate = _start
            if(!_end) endingDate = ""
            else endingDate = _end
            const _generateUrl = generateUrl(companyCodes, startingDate, endingDate)
            
            $('.dataTables-example1').DataTable({
                destroy: true,
                "search": false,
                "processing": true,
                "filter": false,
                "orderMulti": false,
                'serverSide': true,
                order: [[2, 'desc']],
                initComplete: function () {
                    $(this.api().table().container()).find('input[type="search"]').parent().wrap('<form>').parent().attr('autocomplete', 'off').css('overflow', 'hidden').css('margin', 'auto');
                },
                "ajax": {
                    "url": _generateUrl,
                    "type": "GET",
                    "datatype": "json",
                },
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, 1400000],
                    ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                buttons: [
                    'pageLength',
                    {
                        text: 'Refresh',
                        action: function (e, dt, node, config) {
                            dt.ajax.reload();
                        }
                    },
                    'csv', 'excel', 'pdf'
                ],
                "columns": [
                    {
                        data: 'Company_Code', orderable:false
                            
                    },
                    {
                        data: 'Date', orderable:false
                    },
                    {
                        data: 'Hits',
                    },
                    {
                        data:'Hits/sec', orderable:false, render:(data)=> data?.toFixed(3)
                    },

    


                ]
            })
        }

    </script>
    </body>

    </html>